In [48]:
import pandas as pd
import re
from utils.functions import age_clustering, age_sort

In [49]:
df_delitti_vittime =pd.read_csv("/Users/venere/Documents/GitHub/dati_sdi_reati_genere/data/processing/comunicazioni_sdi/delitti_vittime.csv")
df_codice_rosso_vittime =pd.read_csv("/Users/venere/Documents/GitHub/dati_sdi_reati_genere/data/processing/comunicazioni_sdi/codice_rosso_vittime.csv")
df_reati_spia_vittime =pd.read_csv("/Users/venere/Documents/GitHub/dati_sdi_reati_genere/data/processing/comunicazioni_sdi/reati_spia_vittime.csv")
residenti_2022_province =pd.read_csv("/Users/venere/Documents/GitHub/dati_sdi_reati_genere/resources/POSAS_2022_it_Province.csv", sep=";", header=1)
regioni_province =pd.read_csv("/Users/venere/Documents/GitHub/dati_sdi_reati_genere/resources/province_sdi_istat.csv", sep=",", header=0)

Creiamo il raggruppamento per provincia classe di età del 2022

In [50]:
residenti_2022_province

,Codice provincia,Provincia,Età,Celibi,Coniugati,Divorziati,Vedovi,Uniti civilmente,Maschi già in unione civile (per scioglimento unione),Maschi già in unione civile (per decesso del partner),Totale maschi,Nubili,Coniugate,Divorziate,Vedove,Unite civilmente,Femmine già in unione civile (per scioglimento unione),Femmine già in unione civile (per decesso del partner),Totale femmine,Totale
0,84,Agrigento,0,1540,0,0,0,0,0,0,1540,1446,0,0,0,0,0,0,1446,2986
1,84,Agrigento,1,1512,0,0,0,0,0,0,1512,1516,0,0,0,0,0,0,1516,3028
2,84,Agrigento,2,1606,0,0,0,0,0,0,1606,1532,0,0,0,0,0,0,1532,3138
3,84,Agrigento,3,1710,0,0,0,0,0,0,1710,1547,0,0,0,0,0,0,1547,3257
4,84,Agrigento,4,1666,0,0,0,0,0,0,1666,1684,0,0,0,0,0,0,1684,3350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10909,56,Viterbo,97,3,8,0,25,0,0,0,36,11,2,4,80,0,0,0,97,133
10910,56,Viterbo,98,0,6,0,6,0,0,0,12,8,2,1,83,0,0,0,94,106
10911,56,Viterbo,99,0,3,0,6,0,0,0,9,2,0,1,61,0,0,0,64,73
10912,56,Viterbo,100,1,5,0,13,0,0,0,19,5,1,0,58,0,0,0,64,83
10913,56,Viterbo,999,69631,72742,5065,4193,77,0,2,151710,58495,71526,6521,20442,41,2,0,157027,308737

In [51]:
residenti_2022_province = residenti_2022_province[residenti_2022_province["Età"] != 999].copy()
residenti_2022_province

,Codice provincia,Provincia,Età,Celibi,Coniugati,Divorziati,Vedovi,Uniti civilmente,Maschi già in unione civile (per scioglimento unione),Maschi già in unione civile (per decesso del partner),Totale maschi,Nubili,Coniugate,Divorziate,Vedove,Unite civilmente,Femmine già in unione civile (per scioglimento unione),Femmine già in unione civile (per decesso del partner),Totale femmine,Totale
0,84,Agrigento,0,1540,0,0,0,0,0,0,1540,1446,0,0,0,0,0,0,1446,2986
1,84,Agrigento,1,1512,0,0,0,0,0,0,1512,1516,0,0,0,0,0,0,1516,3028
2,84,Agrigento,2,1606,0,0,0,0,0,0,1606,1532,0,0,0,0,0,0,1532,3138
3,84,Agrigento,3,1710,0,0,0,0,0,0,1710,1547,0,0,0,0,0,0,1547,3257
4,84,Agrigento,4,1666,0,0,0,0,0,0,1666,1684,0,0,0,0,0,0,1684,3350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10908,56,Viterbo,96,1,20,0,28,0,0,0,49,14,5,2,133,0,0,0,154,203
10909,56,Viterbo,97,3,8,0,25,0,0,0,36,11,2,4,80,0,0,0,97,133
10910,56,Viterbo,98,0,6,0,6,0,0,0,12,8,2,1,83,0,0,0,94,106
10911,56,Viterbo,99,0,3,0,6,0,0,0,9,2,0,1,61,0,0,0,64,73
10912,56,Viterbo,100,1,5,0,13,0,0,0,19,5,1,0,58,0,0,0,64,83

In [52]:
residenti_2022_province['classi_eta']= residenti_2022_province['Età'].apply(age_clustering)
residenti_2022_province_grouped = (
    residenti_2022_province
    .groupby(['Codice provincia', 'Provincia', 'classi_eta'])[['Totale maschi', 'Totale femmine']]
    .sum()
    .reset_index()
)
residenti_2022_province_grouped

     Codice provincia     Provincia  classi_eta  Totale maschi  Totale femmine
0                   1        Torino        0-13         126758          119320
1                   1        Torino       14-17          42063           39222
2                   1        Torino       18-24          74227           67931
3                   1        Torino       25-34         113970          106727
4                   1        Torino       35-44         129539          130624
..                ...           ...         ...            ...             ...
851               111  Sud Sardegna       25-34          16385           15175
852               111  Sud Sardegna       35-44          21571           20300
853               111  Sud Sardegna       45-54          27366           26536
854               111  Sud Sardegna       55-64          27461           27737
855               111  Sud Sardegna  65 e oltre          42477           50819

[856 rows x 5 columns]

In [53]:
residenti_2022_province_grouped[residenti_2022_province_grouped['Codice provincia']==41]

,Codice provincia,Provincia,classi_eta,Totale maschi,Totale femmine
320,41,Pesaro e Urbino,0-13,20450,19322
321,41,Pesaro e Urbino,14-17,7063,6411
322,41,Pesaro e Urbino,18-24,12320,11234
323,41,Pesaro e Urbino,25-34,17749,16749
324,41,Pesaro e Urbino,35-44,21149,21369
325,41,Pesaro e Urbino,45-54,28198,28474
326,41,Pesaro e Urbino,55-64,26036,26615
327,41,Pesaro e Urbino,65 e oltre,38361,48318

In [54]:
regioni_province = regioni_province[regioni_province["provincia"] != 'PESARO']

In [55]:
df1 =residenti_2022_province_grouped
df2 =regioni_province
residenti_2022_province_grouped = pd.merge(df1, df2, left_on='Codice provincia', right_on='codice_provincia_storico', how='left')
residenti_2022_province_grouped

,Codice provincia,Provincia,classi_eta,Totale maschi,Totale femmine,provincia,provinciauts_corretto,codice_regione,codice_provincia_storico,codice_provinciauts,ripartizione_geografica,regione,provincia_uts,flag_tipo_uts,sigla_automobilistica
0,1,Torino,0-13,126758,119320,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
1,1,Torino,14-17,42063,39222,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
2,1,Torino,18-24,74227,67931,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
3,1,Torino,25-34,113970,106727,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
4,1,Torino,35-44,129539,130624,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851,111,Sud Sardegna,25-34,16385,15175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
852,111,Sud Sardegna,35-44,21571,20300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,111,Sud Sardegna,45-54,27366,26536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,111,Sud Sardegna,55-64,27461,27737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
855,111,Sud Sardegna,65 e oltre,42477,50819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#Fix sud sardegna
residenti_2022_province_grouped.loc[residenti_2022_province_grouped["Provincia"].eq("Sud Sardegna") & residenti_2022_province_grouped["regione"].isna(), "regione"] = "Sardegna"
residenti_2022_province_grouped

,Codice provincia,Provincia,classi_eta,Totale maschi,Totale femmine,provincia,provinciauts_corretto,codice_regione,codice_provincia_storico,codice_provinciauts,ripartizione_geografica,regione,provincia_uts,flag_tipo_uts,sigla_automobilistica
0,1,Torino,0-13,126758,119320,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
1,1,Torino,14-17,42063,39222,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
2,1,Torino,18-24,74227,67931,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
3,1,Torino,25-34,113970,106727,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
4,1,Torino,35-44,129539,130624,TORINO,TORINO,1.0,1.0,201.0,Nord-ovest,Piemonte,Torino,3.0,TO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851,111,Sud Sardegna,25-34,16385,15175,NaN,NaN,NaN,NaN,NaN,NaN,Sardegna,NaN,NaN,NaN
852,111,Sud Sardegna,35-44,21571,20300,NaN,NaN,NaN,NaN,NaN,NaN,Sardegna,NaN,NaN,NaN
853,111,Sud Sardegna,45-54,27366,26536,NaN,NaN,NaN,NaN,NaN,NaN,Sardegna,NaN,NaN,NaN
854,111,Sud Sardegna,55-64,27461,27737,NaN,NaN,NaN,NaN,NaN,NaN,Sardegna,NaN,NaN,NaN
855,111,Sud Sardegna,65 e oltre,42477,50819,NaN,NaN,NaN,NaN,NaN,NaN,Sardegna,NaN,NaN,NaN

In [57]:
df_delitti_vittime_grouped = (
    df_delitti_vittime
    .groupby(['provinciauts_corretto', 'delitto', 'eta_alla_data_del_reato_vittima', 'codice_provincia_storico'])[['valore']]
    .sum()
    .reset_index()
)
df_delitti_vittime_grouped

,provinciauts_corretto,delitto,eta_alla_data_del_reato_vittima,codice_provincia_storico,valore
0,AGRIGENTO,10. MINACCE,0-13,84.0,16
1,AGRIGENTO,10. MINACCE,14-17,84.0,31
2,AGRIGENTO,10. MINACCE,18-24,84.0,114
3,AGRIGENTO,10. MINACCE,25-34,84.0,331
4,AGRIGENTO,10. MINACCE,35-44,84.0,418
...,...,...,...,...,...
3828,VITERBO,9. PERCOSSE,25-34,56.0,27
3829,VITERBO,9. PERCOSSE,35-44,56.0,47
3830,VITERBO,9. PERCOSSE,45-54,56.0,31
3831,VITERBO,9. PERCOSSE,55-64,56.0,25
3832,VITERBO,9. PERCOSSE,65 e oltre,56.0,23

In [58]:
df1 = df_delitti_vittime_grouped[[ 'provinciauts_corretto', 'delitto', 'eta_alla_data_del_reato_vittima', 'valore', 'codice_provincia_storico']].copy()
df2 =residenti_2022_province_grouped [[	'classi_eta',	'Totale maschi','Totale femmine', 'codice_provincia_storico', 'regione']].copy()
df_delitti_vittime_prov = pd.merge(df1, df2, left_on=['codice_provincia_storico','eta_alla_data_del_reato_vittima'], right_on=['codice_provincia_storico','classi_eta'], how='left')
df_delitti_vittime_prov

,provinciauts_corretto,delitto,eta_alla_data_del_reato_vittima,valore,codice_provincia_storico,classi_eta,Totale maschi,Totale femmine,regione
0,AGRIGENTO,10. MINACCE,0-13,16,84.0,0-13,25180,23799,Sicilia
1,AGRIGENTO,10. MINACCE,14-17,31,84.0,14-17,9069,8502,Sicilia
2,AGRIGENTO,10. MINACCE,18-24,114,84.0,18-24,17129,15799,Sicilia
3,AGRIGENTO,10. MINACCE,25-34,331,84.0,25-34,23951,22871,Sicilia
4,AGRIGENTO,10. MINACCE,35-44,418,84.0,35-44,24983,24825,Sicilia
...,...,...,...,...,...,...,...,...,...
3828,VITERBO,9. PERCOSSE,25-34,27,56.0,25-34,16113,14825,Lazio
3829,VITERBO,9. PERCOSSE,35-44,47,56.0,35-44,19750,19492,Lazio
3830,VITERBO,9. PERCOSSE,45-54,31,56.0,45-54,24733,25062,Lazio
3831,VITERBO,9. PERCOSSE,55-64,25,56.0,55-64,23610,24064,Lazio
3832,VITERBO,9. PERCOSSE,65 e oltre,23,56.0,65 e oltre,34889,43009,Lazio

In [59]:
df_delitti_vittime_prov.rename(columns={'delitto':'descrizione_reato'}, inplace=True)
df_delitti_vittime_prov

,provinciauts_corretto,descrizione_reato,eta_alla_data_del_reato_vittima,valore,codice_provincia_storico,classi_eta,Totale maschi,Totale femmine,regione
0,AGRIGENTO,10. MINACCE,0-13,16,84.0,0-13,25180,23799,Sicilia
1,AGRIGENTO,10. MINACCE,14-17,31,84.0,14-17,9069,8502,Sicilia
2,AGRIGENTO,10. MINACCE,18-24,114,84.0,18-24,17129,15799,Sicilia
3,AGRIGENTO,10. MINACCE,25-34,331,84.0,25-34,23951,22871,Sicilia
4,AGRIGENTO,10. MINACCE,35-44,418,84.0,35-44,24983,24825,Sicilia
...,...,...,...,...,...,...,...,...,...
3828,VITERBO,9. PERCOSSE,25-34,27,56.0,25-34,16113,14825,Lazio
3829,VITERBO,9. PERCOSSE,35-44,47,56.0,35-44,19750,19492,Lazio
3830,VITERBO,9. PERCOSSE,45-54,31,56.0,45-54,24733,25062,Lazio
3831,VITERBO,9. PERCOSSE,55-64,25,56.0,55-64,23610,24064,Lazio
3832,VITERBO,9. PERCOSSE,65 e oltre,23,56.0,65 e oltre,34889,43009,Lazio

In [60]:
df_codice_rosso_vittime_grouped = (
    df_codice_rosso_vittime
    .groupby(['provinciauts_corretto', 'descrizione_reato', 'eta_alla_data_del_reato_vittima', 'codice_provincia_storico'])[['valore']]
    .sum()
    .reset_index()
)
df_codice_rosso_vittime_grouped

,provinciauts_corretto,descrizione_reato,eta_alla_data_del_reato_vittima,codice_provincia_storico,valore
0,AGRIGENTO,COSTRIZIONE O INDUZIONE AL MATRIMONIO,45-54,84.0,1
1,AGRIGENTO,DEFORMAZIONE DELL'ASPETTO DELLA PERSONA MEDIAN...,25-34,84.0,2
2,AGRIGENTO,DIFFUSIONE ILLECITA DI IMMAGINI O VIDEO SESSUA...,0-13,84.0,5
3,AGRIGENTO,DIFFUSIONE ILLECITA DI IMMAGINI O VIDEO SESSUA...,14-17,84.0,6
4,AGRIGENTO,DIFFUSIONE ILLECITA DI IMMAGINI O VIDEO SESSUA...,18-24,84.0,10
...,...,...,...,...,...
1484,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,25-34,56.0,17
1485,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,35-44,56.0,24
1486,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,45-54,56.0,18
1487,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,55-64,56.0,4
1488,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,65 e oltre,56.0,2

In [61]:

df1 = df_codice_rosso_vittime_grouped[[ 'provinciauts_corretto', 'descrizione_reato', 'eta_alla_data_del_reato_vittima', 'valore', 'codice_provincia_storico']].copy()
df2 =residenti_2022_province_grouped [[	'classi_eta',	'Totale maschi','Totale femmine', 'codice_provincia_storico', 'regione']].copy()
df_codice_rosso_vittime_prov = pd.merge(df1, df2, left_on=['codice_provincia_storico','eta_alla_data_del_reato_vittima'], right_on=['codice_provincia_storico','classi_eta'], how='left')
df_codice_rosso_vittime_prov

,provinciauts_corretto,descrizione_reato,eta_alla_data_del_reato_vittima,valore,codice_provincia_storico,classi_eta,Totale maschi,Totale femmine,regione
0,AGRIGENTO,COSTRIZIONE O INDUZIONE AL MATRIMONIO,45-54,1,84.0,45-54,30447,32051,Sicilia
1,AGRIGENTO,DEFORMAZIONE DELL'ASPETTO DELLA PERSONA MEDIAN...,25-34,2,84.0,25-34,23951,22871,Sicilia
2,AGRIGENTO,DIFFUSIONE ILLECITA DI IMMAGINI O VIDEO SESSUA...,0-13,5,84.0,0-13,25180,23799,Sicilia
3,AGRIGENTO,DIFFUSIONE ILLECITA DI IMMAGINI O VIDEO SESSUA...,14-17,6,84.0,14-17,9069,8502,Sicilia
4,AGRIGENTO,DIFFUSIONE ILLECITA DI IMMAGINI O VIDEO SESSUA...,18-24,10,84.0,18-24,17129,15799,Sicilia
...,...,...,...,...,...,...,...,...,...
1484,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,25-34,17,56.0,25-34,16113,14825,Lazio
1485,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,35-44,24,56.0,35-44,19750,19492,Lazio
1486,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,45-54,18,56.0,45-54,24733,25062,Lazio
1487,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,55-64,4,56.0,55-64,23610,24064,Lazio
1488,VITERBO,VIOLAZIONE DEI PROVVEDIMENTI DI ALLONTANAMENTO...,65 e oltre,2,56.0,65 e oltre,34889,43009,Lazio

In [62]:
df_reati_spia_vittime_grouped = (
    df_reati_spia_vittime
    .groupby(['provinciauts_corretto', 'descrizione_reato', 'eta_alla_data_del_reato_vittima', 'codice_provincia_storico'])[['valore']]
    .sum()
    .reset_index()
)
df_reati_spia_vittime_grouped

,provinciauts_corretto,descrizione_reato,eta_alla_data_del_reato_vittima,codice_provincia_storico,valore
0,AGRIGENTO,ATTI PERSECUTORI,0-13,84.0,8
1,AGRIGENTO,ATTI PERSECUTORI,14-17,84.0,22
2,AGRIGENTO,ATTI PERSECUTORI,18-24,84.0,79
3,AGRIGENTO,ATTI PERSECUTORI,25-34,84.0,140
4,AGRIGENTO,ATTI PERSECUTORI,35-44,84.0,223
...,...,...,...,...,...
1685,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,25-34,56.0,128
1686,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,35-44,56.0,170
1687,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,45-54,56.0,145
1688,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,55-64,56.0,66
1689,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,65 e oltre,56.0,62

In [63]:
df1 = df_reati_spia_vittime_grouped[['provinciauts_corretto', 'descrizione_reato', 'eta_alla_data_del_reato_vittima', 'valore', 'codice_provincia_storico']].copy()
df2 =residenti_2022_province_grouped [[	'classi_eta',	'Totale maschi','Totale femmine', 'codice_provincia_storico', 'regione']].copy()
df_reati_spia_vittime_prov = pd.merge(df1, df2, left_on=['codice_provincia_storico','eta_alla_data_del_reato_vittima'], right_on=['codice_provincia_storico','classi_eta'], how='left')
df_reati_spia_vittime_prov

,provinciauts_corretto,descrizione_reato,eta_alla_data_del_reato_vittima,valore,codice_provincia_storico,classi_eta,Totale maschi,Totale femmine,regione
0,AGRIGENTO,ATTI PERSECUTORI,0-13,8,84.0,0-13,25180,23799,Sicilia
1,AGRIGENTO,ATTI PERSECUTORI,14-17,22,84.0,14-17,9069,8502,Sicilia
2,AGRIGENTO,ATTI PERSECUTORI,18-24,79,84.0,18-24,17129,15799,Sicilia
3,AGRIGENTO,ATTI PERSECUTORI,25-34,140,84.0,25-34,23951,22871,Sicilia
4,AGRIGENTO,ATTI PERSECUTORI,35-44,223,84.0,35-44,24983,24825,Sicilia
...,...,...,...,...,...,...,...,...,...
1685,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,25-34,128,56.0,25-34,16113,14825,Lazio
1686,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,35-44,170,56.0,35-44,19750,19492,Lazio
1687,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,45-54,145,56.0,45-54,24733,25062,Lazio
1688,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,55-64,66,56.0,55-64,23610,24064,Lazio
1689,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,65 e oltre,62,56.0,65 e oltre,34889,43009,Lazio

In [64]:
df_delitti_vittime_prov['Categoria']='DELITTI'
df_codice_rosso_vittime_prov['Categoria']='CODICE ROSSO'
df_reati_spia_vittime_prov['Categoria']='REATI SPIA'

In [65]:
frames = [df_delitti_vittime_prov, df_codice_rosso_vittime_prov, df_reati_spia_vittime_prov]
result = pd.concat(frames)
result

,provinciauts_corretto,descrizione_reato,eta_alla_data_del_reato_vittima,valore,codice_provincia_storico,classi_eta,Totale maschi,Totale femmine,regione,Categoria
0,AGRIGENTO,10. MINACCE,0-13,16,84.0,0-13,25180,23799,Sicilia,DELITTI
1,AGRIGENTO,10. MINACCE,14-17,31,84.0,14-17,9069,8502,Sicilia,DELITTI
2,AGRIGENTO,10. MINACCE,18-24,114,84.0,18-24,17129,15799,Sicilia,DELITTI
3,AGRIGENTO,10. MINACCE,25-34,331,84.0,25-34,23951,22871,Sicilia,DELITTI
4,AGRIGENTO,10. MINACCE,35-44,418,84.0,35-44,24983,24825,Sicilia,DELITTI
...,...,...,...,...,...,...,...,...,...,...
1685,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,25-34,128,56.0,25-34,16113,14825,Lazio,REATI SPIA
1686,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,35-44,170,56.0,35-44,19750,19492,Lazio,REATI SPIA
1687,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,45-54,145,56.0,45-54,24733,25062,Lazio,REATI SPIA
1688,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,55-64,66,56.0,55-64,23610,24064,Lazio,REATI SPIA
1689,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,65 e oltre,62,56.0,65 e oltre,34889,43009,Lazio,REATI SPIA

In [66]:
result_filtrato = result[result['provinciauts_corretto'].notnull()]
result_filtrato

,provinciauts_corretto,descrizione_reato,eta_alla_data_del_reato_vittima,valore,codice_provincia_storico,classi_eta,Totale maschi,Totale femmine,regione,Categoria
0,AGRIGENTO,10. MINACCE,0-13,16,84.0,0-13,25180,23799,Sicilia,DELITTI
1,AGRIGENTO,10. MINACCE,14-17,31,84.0,14-17,9069,8502,Sicilia,DELITTI
2,AGRIGENTO,10. MINACCE,18-24,114,84.0,18-24,17129,15799,Sicilia,DELITTI
3,AGRIGENTO,10. MINACCE,25-34,331,84.0,25-34,23951,22871,Sicilia,DELITTI
4,AGRIGENTO,10. MINACCE,35-44,418,84.0,35-44,24983,24825,Sicilia,DELITTI
...,...,...,...,...,...,...,...,...,...,...
1685,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,25-34,128,56.0,25-34,16113,14825,Lazio,REATI SPIA
1686,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,35-44,170,56.0,35-44,19750,19492,Lazio,REATI SPIA
1687,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,45-54,145,56.0,45-54,24733,25062,Lazio,REATI SPIA
1688,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,55-64,66,56.0,55-64,23610,24064,Lazio,REATI SPIA
1689,VITERBO,MALTRATTAMENTI CONTRO FAMILIARI E CONVIVENTI,65 e oltre,62,56.0,65 e oltre,34889,43009,Lazio,REATI SPIA

In [67]:
result_filtrato.to_csv("reati_donne_per_anno_provincia_2019-24.csv", index=False)